
h1, h2, h3, h4, h5, h6 { 
	font-size: 21.5px; 
	font-weight: bold;
	line-height: 90%;
}

h1 { 
	font-size: 150%;
}

h2 { 
	font-size: 130%;
}

h3 { 
	font-size: 115%;
}

p, ol, ul { 
	font-size: 18px;
	font-weight: normal;
	line-height: 118%;
}

.type-justify { 
	text-align: justify;
	line-height: 59%;
}

.type-justify:after { 
	content: ''; 
	display: inline-block; 
	width: 100%; 
}